.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input, label, select {
    display: block;
    margin-block: 12px;
}

input, select {
    height: 48px;
    width: 200px;
}

nav ul li {
    margin-inline: 8px;
    display: inline-block;
}

.form-wrapper {
    width: 600px;
    margin: 0 auto;
}

.form-group {
    justify-content: center;
    display: flex;
    gap: 16px;
}

.submit{
    text-align: center;
    align-items: center;

    > input {
        margin: 0 auto;
    }
}

header {
    text-align: center;
}

section#main {
    width: 800px;
    margin: 0 auto;
}